.image {
  width: 10vh;
}

@media only screen and (max-width: 459px) {
  .image {
    width: 7vh;
  }
}

.image:hover {
  cursor: pointer;
}

.dark {
  background: url("/src/assets/wallPaper/dark.png") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.light {
  background: url("/src/assets/wallPaper/light.jpg") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  min-height: 100vh;
}

@media only screen and (max-width: 459px) {
  .statistics {
    display: none;
  }
}

.statisticsHidden {
  display: none;
}
