.image:hover {
  cursor: pointer;
}

.statistics {
  width: 10%;
}

@media only screen and (max-width: 1296px) {
  .statistics {
    width: 20%;
  }
}

@media only screen and (max-width: 1136px) {
  .statistics {
    width: 25%;
  }
}

@media only screen and (max-width: 878px) {
  .statistics {
    width: 30%;
  }
}

.dark {
  /* 6 el favorito para el dark */
  background: url("/src/assets/wallPaper/dark.png") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  min-height: 100vh;
  transition: all 5s;
}

.light {
  background: url("/src/assets/wallPaper/light.jpg") no-repeat center center
    fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  min-height: 100vh;
  transition: all 5s;
}
