.containerAll {
  background: url("/src/assets/pages/createCharacter.jpg") no-repeat center
    center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100vh;
}
