.card {
  background: #2cb5a0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  height: 300px;
  position: relative;
  border-radius: 10px;
  text-align: center;
  transition: all 3s;
}

.card .img {
  display: flex;
  margin: 20px auto 10px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  font-size: 11px;
  justify-content: center;
  align-items: center;
}

.card h2 {
  font-size: 25px;
  transition: all 0.1s;
  z-index: -99;
  line-height: normal;
}

.card span {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}
.card:hover .img2 {
  display: none;
}

.card:hover h2 {
  display: none;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.623);
  cursor: pointer;
}
.card:hover .img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0 auto;
  background-color: #f0f0f0;
  z-index: 99999;
  transition: all 0.7s;
}

@media only screen and (max-width: 459px) {
  .card {
    width: 80%;
  }
}
