.containerAll {
  background: rgb(108, 72, 20);
  background: linear-gradient(
    180deg,
    rgba(108, 72, 20, 1) 0%,
    rgba(255, 176, 29, 1) 0%,
    rgba(255, 176, 29, 0.7035189075630253) 100%
  );
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
}

.prueba {
  width: 40vh;
}

@media only screen and (max-width: 459px) {
  .prueba {
    width: 100%;
  }
}
