.containerAll {
  background: #2cb5a0;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  position: fixed;
  top: 0;
  z-index: 200;
  color: whitesmoke;
  overflow: hidden;
}

.containerInput {
  width: 20%;
}

@media only screen and (max-width: 459px) {
  .containerInput {
    width: 60%;
  }
}
