.containerAll {
  /* background-color: #02021c55; */
  background-color: #ffffff2a;
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1%;
  position: fixed;
  top: 0;
  z-index: 10;
}
